﻿/* Estilo do título */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo dos painéis */
.panel {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

/* Estilo dos botões */
.btn {
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

    .btn:hover {
        background-color: #2980b9;
    }

/* Estilo das caixas de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
}

/* Estilo do aviso */
#lblMensagem {
    font-weight: bold;
    font-size: 16px;
}
d